In [1]:
# exported libraries
import requests as rq
import bs4
import pandas as pd

In [2]:
#URL_base
url_base = 'http://books.toscrape.com/catalogue/page-{}.html'

In [3]:
#path function
def page_title_price():
    #list append
    ficha_title = []
    ficha_price = []
    ficha_star = []

    #tour for html pages
    for paginas in range(51):
        url_page = url_base.format(paginas)
        result = rq.get(url_page)
        soup = bs4.BeautifulSoup(result.text, 'lxml')

        books = soup.select('.product_pod')

        list_price = soup.select('.product_price')

        #iterar books, price, stars
        
        #books
        for book in books:
            book_title = book.select('a')[1]['title']

            ficha_title.append(book_title)


        #price
        for price in list_price:
            prices = price.select('p')[0].get_text()
            precio_d = prices.strip('Â')

            ficha_price.append(precio_d)

            
        #stars
        for s in books:
            if len(s.select('.star-rating.One')):
                star = int(1)
                ficha_star.append(star)

            elif len(s.select('.star-rating.Two')):
                star = int(2)
                ficha_star.append(star)

            elif len(s.select('.star-rating.Three')):
                star = int(3)
                ficha_star.append(star)

            elif len(s.select('.star-rating.Four')):
                star = int(4)
                ficha_star.append(star)

            elif len(s.select('.star-rating.Five')):
                star = int(5)
                ficha_star.append(star)
            
            else:
                pass
        
        

    return ficha_title, ficha_price, ficha_star

In [4]:
#list extraction
inter_list = page_title_price()
title = inter_list[0]
price = inter_list[1]
stars = inter_list[2]

In [5]:
my_dict = {'Book_name': title, 'Price': price, 'Star_punctuation': stars}

df = pd.DataFrame(my_dict, columns= ['Book_name', 'Price', 'Star_punctuation'])

In [6]:
df.head()

                               Book_name   Price  Star_punctuation
0                   A Light in the Attic  £51.77                 3
1                     Tipping the Velvet  £53.74                 1
2                             Soumission  £50.10                 1
3                          Sharp Objects  £47.82                 4
4  Sapiens: A Brief History of Humankind  £54.23                 5